<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Log In</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/st.css">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">

                    <%for(var i = 0; i < navbar.length; i++){%>
                    <li><a href=<%=navbar[i].link%>><%=navbar[i].title%></a></li>
                    <%}%> 

    </ul>
      
    </nav>
  </div>
</header>

  <!-- registration form -->
  <div class="container">
    <form method="POST" action="/authorAddApi">
      <div class="row">
        <div class="col">
          <label>Author</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="author">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>country</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="country">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>imageLink</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="imagelink">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>language</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="language">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>link</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="link">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>pages</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="pages">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>title</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="title">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>year</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="year">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label>description</label>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="description">
        </div>
      </div>
      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </form>
  </div>

  



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>